.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: $space-xs;
	color: var(--text-primary);
}

.name {
	font-weight: $font-bold;
	color: var(--text-primary);
}

.logo__white {
	color: $white;

	.name {
		color: $white;
	}
}
