.container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.title {
	color: var(--text-primary);
}

.message {
	color: var(--text-muted);
	font-size: $font-md;
}

.buttons {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: end;
}
