.accountHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 0.6rem;

	.accountHeader__icon {
		padding: $space-sm;
		background-color: var(--bg-muted);
		border-radius: $radius-lg;
		display: flex;
		color: var(--text-primary);
	}

	.accountHeader__name {
		font-weight: $font-medium;
		color: var(--text-primary);
	}

	.accountHeader__type {
		font-weight: $font-regular;
		color: var(--text-muted);
	}
}
