.container {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	align-items: start;
	justify-content: space-between;

	label {
		color: var(--text-primary);
		font-weight: $font-medium;
		font-size: $font-sm;
	}
}

.input {
	border: 1px solid var(--border);
	background-color: var(--bg-surface);
	color: var(--text-primary);
	padding: $space-xs;
	border-radius: $radius-md;
	min-width: 100%;
	outline: none;

	&::placeholder {
		color: var(--text-muted);
		font-weight: $font-regular;
		font-size: $font-sm;
	}

	&:focus {
		border-color: var(--ring);
	}
}
